.header {
  padding: 0;
}

.article {
  margin: 1rem 0;
}

.article__section {
  margin: 1rem 0;
}

.article__header {
  margin: 1rem 0;
}

.main-navigation__item {
  display: block;
}

.main-navigation {
  padding: 0.5rem 2rem;
  position: sticky;
  top:0;
  background-color: #007e68;
  z-index: 10;
}

.main-navigation__items {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  color: #ffffff;
}
