<article class="article">
  <header class="header article__header">
    <h2 class="header__h2">Penguins</h2>
  </header>
  <section class="article__section">
    <table *ngIf="penguins | async as penguins" cdk-table [dataSource]="penguins.penguins" >
      <ng-container cdkColumnDef="scientificName">
        <th cdk-header-cell *cdkHeaderCellDef>Scientific Name</th>
        <td cdk-cell *cdkCellDef="let penguin">{{penguin.scientificName}}</td>
      </ng-container>
      <ng-container cdkColumnDef="numberOfOccurrences">
        <th cdk-header-cell *cdkHeaderCellDef>Number Of Occurrences</th>
        <td cdk-cell *cdkCellDef="let penguin">{{penguin.numberOfOccurrences}}</td>
      </ng-container>
      <ng-container cdkColumnDef="acceptedScientificName">
        <th cdk-header-cell *cdkHeaderCellDef>Accepted Scientific Name</th>
        <td cdk-cell *cdkCellDef="let penguin">{{penguin.acceptedScientificName}}</td>
      </ng-container>
      <ng-container cdkColumnDef="species">
        <th cdk-header-cell *cdkHeaderCellDef>Species</th>
        <td cdk-cell *cdkCellDef="let penguin">{{penguin.species}}</td>
      </ng-container>
      <ng-container cdkColumnDef="actions">
        <th cdk-header-cell *cdkHeaderCellDef>Actions</th>
        <td cdk-cell *cdkCellDef="let penguin">
          <button mat-raised-button class="table__button" routerLink="/penguin/{{penguin.taxonKey}}">Edit</button>
        </td>
      </ng-container>

      <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </section>
</article>
